<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="warCount" value="2"/> <!-- any integer (preferably lower than 52, but technically 52 or higher would work -->
    <add key ="turnCount" value="100"/> <!-- any integer-->
    <add key ="aceHigh" value="1"/> <!-- 0 = false, 1 = true-->
    <add key ="classicColors" value="false"/> <!-- true or false-->
  </appSettings>
</configuration>